# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 数据库文件
*.sqlite3
*.db
*.sqlite

# IDE 配置
.idea/
*.iml
.vscode/

# Node 前端依赖（如果有）
node_modules/
package-lock.json
yarn.lock
node_modules
.DS_Store
dist
*.local
# 环境变量/敏感配置
.env
.local
*.local

# 日志文件
*.log

# Django 迁移文件
# 忽略所有迁移文件
**/migrations/*.py
**/migrations/__pycache__/

# 忽略初始化文件 (如果你不想在版本管理中看到它们)
__init__.py

#1
#